.config/Code
.config/Thunar/accels.scm
.config/Thunar/uca.xml
.config/audacious
.config/calibre/conversion
.config/calibre
.config/doublecmd
.config/flameshot
.config/fish/fish_variables
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fontconfig
.config/gtk-2.0
.config/gtk-3.0
.config/gtkrc-2.0
.config/handlr
.config/ibus-bamboo
.config/inkscape
.config/lazygit/state.yml
.config/omf
.config/qBittorrent
.config/wireshark
.gitconfig
.gitmessage
.gnupg
.goldendict
.icons
.local
.mackup
.mackup.cfg
.newsboat
.pam_environment
.profile
.ssh
.unison
.vim/autoload
.vim/backup
.vim/plugged
.wget-hsts
.windows
.xinitrc
.xprofile
.yarnrc
Library
