.dropbox
.dropbox.attr
.dropbox.cache
.config/alacritty
.config/audacious
.config/bspwm
.config/calibre
.config/cava
.config/cheat
.config/Code
.config/doublecmd
.config/dunst
.config/fish
.config/flameshot
.config/fontconfig
.config/gitui
.config/gtk-2.0
.config/gtk-3.0
.config/handlr
.config/htop
.config/i3
.config/ibus-bamboo
.config/inkscape
.config/lazygit
.config/mako
.config/mpd
.config/ncmpcpp
.config/neofetch
.config/nvim
.config/omf
.config/openbox
.config/polybar
.config/qt5ct
.config/ranger
.config/ripgrep
.config/rofi
.config/sway
.config/swaylock
.config/sxhkd
.config/Thunar
.config/waybar
.config/wireshark
.config/wofi
.config/zathura
.config/gtkrc-2.0
.config/picom.conf
.config/starship.toml
.gnupg
.goldendict
.icons
.gitconfig
.local
.mackup
.newsboat
.screenlayout
.ssh
.unison
.vim
_bin
.bash_profile
.bashrc
.face.icon
.gtkrc-2.0
.ideavimrc
.pam_environment
.profile
.vimrc
.wget-hsts
.xinitrc
.xprofile
.Xresources
.yarnrc