[alias]
  bw = blame -w -M
  c = commit
  commend = commit --amend --no-edit
  cc = commit --all --amend --no-edit
  ca = commit --all
  co = checkout
  cb = "!f() { git co `git log --until=\"$*\" -1 --format=%h`; } ; f"
  s = status --short
  d = diff
  dc = diff --cached --word-diff=color
  dw = diff --word-diff=color
  l = log
  a = add
  af = add -f
  p = push
  dt = difftool
  mt = mergetool
  ss = show -1 --format=%B--stat
  sw = show -1 --format=%B--stat --word-diff=color
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  whatadded = log --diff-filter=A
  deleted = log --diff-filter=D --summary
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s [%N] %Cgreen(%ar)%Creset' --date=relative
  lgd = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s [%N] %Cgreen(%ar)%Creset' --date=default
  lgm = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s [%N] %Cgreen(%ar)%Creset' --date=relative --author=AUTHOR_EMAIL
  abbr = "!sh -c 'git rev-list --all | grep ^$1 | while read commit; do git --no-pager log -n1 --pretty=format:\"%H %ci %an %s%n\" $commit; done' -"
  refeature = "!f() { git co develop && git pull && git co $1 && git pull && git rebase develop; } ; f"
  ffmerge = "!f() { git refeature $1 && git co develop && git merge $1; } ; f"
  clearbranch = "!f() { git branch -d $1 && git push origin :$1; } ; f"
  please = push --force-with-lease
  undo = restore
  unstage = restore --staged
  wip = for-each-ref --sort='authordate:iso8601' --format='%(color:green)%(authordate:relative)%09%(color:reset)%(refname:short)' refs/heads
  
[init]
    defaultBranch = main

[user]
	email = mr.kharhums@gmail.com
	name = huka
[core]
	editor = code -w
    excludesfile = ~/.git/ignore-global
    quotepath = false
    trustctime = false
    pager = sh -c '/usr/share/git/diff-highlight/diff-highlight | less -r'
    # sudo find -L /usr -name diff-highlight -type f

[color]
    ui = auto

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"

[url "https://github.com/"]
    insteadOf = gh
	
[help]
    autocorrect = 1

[push]
    default = simple