[storage]
engine = dropbox
directory = _huka/development/hukacode/dotfiles

# [storage]
# #engine = file_system
# #path = /run/media/huka/workspace/dotfiles/

[applications_to_ignore]
ssh
gnupg
gradle