export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export ELECTRON_TRASH=gio code

setxkbmap -option caps:escape
# setxkbmap -option caps:swapescape

export PATH="/home/huka/script:$PATH"

/home/huka/script/autostart